<div>
    <select class="browser-default custom-select custom-select-lg mb-3" (change)="getMemes($event.target.value)">
        <option value="" disabled selected>Choose your memelt</option>
        <option  *ngFor="let domain of domains" >
        {{domain.name}}
    </option> 
    </select> ???
    <form class="form-inline md-form mr-auto mb-4" (submit)="search()">
        <input type="text" id="key" [(ngModel)]="key" [ngModelOptions]="{standalone: true}" placeholder="Like...seriously??? ">
        <button class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit">Search</button>
    </form>

    <div *ngIf="noMatches">
        {{suggestionWord}}
    </div>

    <div class="card-columns">
        <app-explore-card *ngFor="let meme of memes" [meme]="meme"></app-explore-card>
    </div>
</div>