<!-- <app-meme-card [meme]=getMemeById(id)></app-meme-card> -->

<h2>Edit Meme</h2>

<form (submit)="onSubmit(); resetForm()">
    <div class="form-group ">
        <label for="title ">Title</label>
        <input type="text" id="title" [(ngModel)]="title" [ngModelOptions]="{standalone: true}" placeholder="Like...seriously??? ">

        <label for="image ">Image</label>
        <input type="file" (change)="fileChanged($event)">

        <button type=" submit " class="btn btn-primary ">Edit</button>

    </div>

</form>