// .lead-line {
//     display: inline;
// }
.dropdown {
    display: inline;
}

// .form-control {
//     // display: inline;
//     float: left;
// }
.card-columns {
    margin: auto;
    max-width: 100%;
    text-align: center;
}